* {
    margin: 0;
    padding: 0;
    }
    #banner (                                                                                                                                                                                                                                                                                                                                           )
    img {
    width: 100%;
    }
    
    h1 {
        text-align: center;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
    }
    
    body {
        background: rgb(63, 94, 251);
        background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    }
    
    div {
    background-color: #cccccc;
    font-size: 35px;
    text-align: center;
    }